:root {
    --body-background: #cfcfe9;
    --calculator-background: rgb(88, 151, 209);
    --calculator-box-shadow: rgba(0, 0, 0, 0.3);
    --display: #9cc8ab;
    --result: rgb(72, 105, 133);
    --clear: rgb(207, 116, 116);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--body-background);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.calculator {
    background-color: var(--calculator-background);
    width: 300px;
    height: 500px;
    padding: 20px;
    border-radius: 8px;
    border: 2px solid;
    box-shadow: 0 2px 3px var(--calculator-box-shadow);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}


/* -----------------------RESULT DISPLAY--------------------------- */

#result {
    background-color: var(--display);
    width: 250px;
    height: 60px;
    margin-top: 8px;

    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 3px var(--calculator-box-shadow) inset;
    cursor: default;
    outline: none;
}


/* -----------------------BUTTONS--------------------------- */

.buttons-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.row {
    display: flex;
    gap: 8px
}

.button {
    height: 60px;
    width: 60px;
    font-size: xx-large;
    border-radius: 8px;
    border: 1px solid;
}

.button:hover {
    background-color: #c4c9d6;
}

.button:active {
    background-color: rgb(177, 170, 170);
}

button[data-value="="] {
    width: 128px;
    color: #fff;
    background-color: var(--result);
    border: 1px black solid;
}

button[data-value="clear"] {
    background-color: var(--clear);
}