:root {
    --body-background: #cfcfe9;
    --calculator-background: rgb(88, 151, 209);
    --calculator-box-shadow: rgba(0, 0, 0, 0.3);
    --display: #9cc8ab;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--body-background);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.calculator {
    background-color: var(--calculator-background);
    padding: 20px;
    border-radius: 8px;
    border: 2px solid;
    width: 500px;
    height: 700px;
    box-shadow: 0 2px 3px var(--calculator-box-shadow);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

}


#result {
    background-color: var(--display);
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 3px var(--calculator-box-shadow) inset;
    cursor: default;
    outline: none;
}